doctype html
html
    body
        h1 Hey #{username}
        p Welcome to <strong>Persona Identity Management</strong> !

        p In order to complete your registration please access&nbsp;
            a(href=link) this link
            | .
        br
        p This link is available until #{expirationData} !